/* root style */
:root {
    --primaryBg: #0f0f17;
    --secondaryBg: #26272D;
    --primaryText: #E0E0E0;
    --secondaryText: #A0A0A0;
    
    --primaryAccent: #3A7AFE;
    --secondaryAccent: #00C853;
    --highlight: #FF6D00;
    
    --buttonPrimary: #0044ff;
    --buttonSecondary: #333333;
    --buttonHover: #3A7AFE;
    
    --success: #00C853;
    --error: #FF5252;
    --warning: #FFAB40;
    
    --shadowLight: rgba(0, 0, 0, 0.6);
    --border: #2C2C2C;
}

p {
    margin: 0;
    font-family: "Bookman", "URW Bookman L", serif
}

/* Body styling */
body {
    background-color: var(--primaryBg);
    color: var(--primaryText);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* Global styling */
h1 {
    font-family: "Bookman", "URW Bookman L", serif
}

.warning {
    color: var(--warning);
}

.error {
    color: var(--error);
}

.miniCard {
    background-color: var(--primaryBg);
    padding: 5px;
    border-radius: 5px;
}

.miniCard:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.Card {
    background-color: var(--secondaryBg);
    color: var(--primaryText);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadowLight);
    padding: 20px;
    width: 100%;
}

.fit {
    width: fit-content;
    text-wrap: nowrap;
}

.Title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.simpleBtn {
    background-color: var(--buttonPrimary);
    color: var(--primaryText);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold
}

.simpleBtn:hover {
    background-color: var(--highlight);
}

.loadingtext {
    animation: shining 3s infinite;
}

.flexSB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes shining {
    0% {
        color: var(--primaryText);
    }
    25% {
        color: var(--secondaryText);
    }
    50% {
        color: var(--primaryText);
    }
    75% {
        color: var(--secondaryText);
    }
    100% {
        color: var(--primaryText);
    }
}

input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: var(--secondaryBg);
    outline: none;
    color: var(--primaryText);
}

input:focus {
    border-bottom-color: var(--buttonPrimary);
}

input::placeholder {
    color: var(--secondaryText);
    font-style: italic;
}

.divForm {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Media queries */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 16px;
    }
    
}
