/* root style */
:root {
    --primaryBg: #0f0f17;
    --secondaryBg: #26272D;
    --primaryText: #E0E0E0;
    --secondaryText: #A0A0A0;
    
    --primaryAccent: #3A7AFE;
    --secondaryAccent: #00C853;
    --highlight: #FF6D00;
    
    --buttonPrimary: #0044ff;
    --buttonSecondary: #333333;
    --buttonHover: #3A7AFE;
    
    --success: #00C853;
    --error: #FF5252;
    --warning: #FFAB40;
    
    --shadowLight: rgba(0, 0, 0, 0.6);
    --border: #2C2C2C;
}

p {
    margin: 0;
    font-family: "Bookman", "URW Bookman L", serif
}

/* Body styling */
body {
    background-color: var(--primaryBg);
    color: var(--primaryText);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* Global styling */
h1 {
    font-family: "Bookman", "URW Bookman L", serif
}

.Card {
    background-color: var(--secondaryBg);
    color: var(--primaryText);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadowLight);
    padding: 20px;
    margin: 5px;
    width: 100%;
}

.fit {
    width: fit-content;
    text-wrap: nowrap;
}

.Title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.simpleBtn {
    background-color: var(--buttonPrimary);
    color: var(--primaryText);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold
}

.simpleBtn:hover {
    background-color: var(--highlight);
}

/* Media queries */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 16px;
    }
    
}
